# Backend Security
DB_SECRET=

# Telegram Backup Configuration
TELEGRAM_BOT_TOKEN=
TELEGRAM_CHAT_ID=

BACKUP_INTERVAL_MINUTES=30

# MongoDB (for backup metadata & app data)
MONGODB_URI=

# Server Configuration
PORT=8080
NODE_ENV=production
SERVER_ID=leads_server

# Frontend Configuration (Internal)
NEXT_PUBLIC_API_URL=
